*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    height: 20%;
    width: 100%;
    background-color: white;
    flex-direction: row;
}
.logo{
    display: flex;
    width: 10vw;
    margin: 3vw 2vw 3vw 3vw;
}
.logo img{
    width: 100%;
    height: initial;
}
.menu-icon{
    display: none;
}
.btn-cont{
    display: none;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-ul{
    padding-left: 3vw;
    list-style: none;
}
#nav-ul li{
    display: inline-block;
    padding-right: 2vw;
}
#nav-ul a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 700;
}
#nav-ul a:hover{
    border-bottom: 4px solid rgb(3,166,215);
    transition: 100ms ease-in-out;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: black;
}
.featured{
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
}
#ft-head{
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 2vw 0vw 0.5vw 0vw;
}
.f-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#f-1-c-1{
    display: flex;
    flex-direction: column-reverse;
    width: 30vw;
    height: 25vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-1-c-1 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-1-c-1 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-1-c-2{
    display: flex;
    flex-direction: column-reverse;
    width: 30vw;
    height: 25vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-1-c-2 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-1-c-2 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
.title{
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0.7%;
}
.title h4{
    font-size: 1.5vw;
    font-weight: 700;
}
.title p{
    font-size: 1vw;
    font-weight: 100;
}
.f-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.7% 0% 0.7% 0%;
}
#f-2-c-1{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-2-c-1 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-2-c-1 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-2-c-2{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-2-c-2 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-2-c-2 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-2-c-3{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-2-c-3 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-2-c-3 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-2-c-4{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-2-c-4 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-2-c-4 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
.f-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0.7%;
}
#f-3-c-1{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-3-c-1 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-3-c-1 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-3-c-2{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-3-c-2 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-3-c-2 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-3-c-3{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-3-c-3 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-3-c-3 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
#f-3-c-4{
    display: flex;
    flex-direction: column-reverse;
    width: 23vw;
    margin-right: 0.7%;
    overflow: hidden;
}
#f-3-c-4 img{
    object-fit: cover;
    filter: brightness(80%);
    transition: 300ms;
}
#f-3-c-4 img:hover{
    transform: scale(1.1);
    transition: 300ms;
    filter: brightness(60%);
}
.para{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4vw 0vw 3vw 3vw;
    color: white;
    font-size: 1em;
}
.para-1{
    margin-bottom: 3vw;
}
#p-1-h{
    padding-bottom: 1vw;
}
.para-1 p{
    line-height: 200%;
    font-weight: 500;
}
.para-2{
    margin-bottom: 3vw;
}
#p-2-h{
    padding-bottom: 1vw;
}
.para-2 p{
    line-height: 200%;
    font-weight: 500;
}
.para-2 a{
    color: white;
    text-decoration: none;
}
.para-2 a:hover{
    color: rgb(3,166,215);
}
.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.f-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 15vw;
    background-color: rgb(32,32,32);
}
#f-t-ul{
    list-style: none;
    margin-bottom: 1vw;
}
#f-t-ul li{
    display: inline-block;
    padding: 1vw;
}
#f-t-ul a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
}
#f-t-ul a:hover{
    color: rgb(3,166,215);
}
#copyright{
    font-size: 0.8em;
    color: rgb(100, 100, 100);
}
.f-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 20vw;
    color: white;
    background-color: black;
}
.f-bottom h1{
    font-size: 2em;
    margin: 2vw;
}
.f-bottom p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em;
}
#f-b-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 2vw;
}
#f-b-list li{
    display: inline-block;
    padding: 1vw;
}
#f-b-list a{
    font-size: 1em;
    text-decoration: none;
    color: white;
}
#f-b-list a:hover{
    color: rgb(3,166,215);
}
@media only screen and (max-width:400px){
    #f-b-list{
        flex-direction: column;
        margin: 5vw;
        text-align: center;
    }
}
@media only screen and (max-width: 580px){
    #f-t-ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #copyright{
        margin-bottom: 2vw;
    }
}
@media only screen and (max-width: 650px){
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    .nav-list{
        display: none;
    }
    .menu-icon{
        display: flex;
        height: 3vw;
        width: 4vw;
        border: none;
        margin-right: 3vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: 300ms;
    }
    .line{
        display: flex;
        height: 20%;
        width: 100%;
        border-radius: 20%;
        background-color: black;
    }
    .menu-icon:hover{
        transition: 300ms;
        transform: rotateZ(180deg);
    }
    .btn-cont a {
        color: black;
        font-weight: 600;
        padding: 1vw 1vw;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .btn-cont a:hover{
        transition: 300ms;
        color: white;
        background-color: black;
    }
    .drop-btn:hover .btn-cont{
        display: block;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 30vw;
        margin-left: -25vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #f-b-logo{
        display: flex;
    }
    #f-b-s-head{
        display: flex;
    }
    #f-b-list{
        display: flex;
    }
    .f-bottom{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 720px){
    #f-t-ul a{
        font-size: 0.8em;
    }
    #copyright{
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 1200px){
    #ft-head{
        margin-left: 9vw;
    }
    .f-1{
        align-items: center;
        flex-direction: column;
    }
    #f-1-c-1{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-1-c-2{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    .f-2{
        align-items: center;
        flex-direction: column;
    }
    #f-2-c-1{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-2-c-2{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-2-c-3{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-2-c-4{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    .f-3{
        align-items: center;
        flex-direction: column;
    }
    #f-3-c-1{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-3-c-2{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-3-c-3{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    #f-3-c-4{
        width: 80%;
        height: 80%;
        margin-bottom: 0.7%;
    }
    .title h4{
        font-size: 3vw;
        font-weight: 700;
    }
    .title p{
        font-size: 2vw;
        font-weight: 100;
    }
    .para{
        margin-left: 9vw;
    }
}
